*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#box1{
    color: white;
    background-color: rgb(80, 189, 180);
    width: 50%;
    height: 250px;
    padding: 20px;
    float: left;
}
#box2{
    color: white;
    background-color: rgb(50, 223, 171);
    width: 50%;
    height: 250px;
    padding: 20px;
    float: right;
}
#box3{
    margin-left: 20%;
}
.inbox{
    margin-left: 10%;
}
h4{
    color: grey;
}
#size1{
    font-size: 30px;
}
button{
    background-color: greenyellow;
    width: 200px;
    height: 50px;
}
